<<<<<<< HEAD
body{
  background-color: orange;
=======
<<<<<<< HEAD
<style>
=======
>>>>>>> origin/master
#tb-cardapio  {
    border: 1px solid black;
		border-collapse: collapse;
		margin: auto;
>>>>>>> origin/master
}

h1{
  color: red;
}

h3{
  color: red
}

<<<<<<< HEAD
label {
  vertical-align: top;
}
=======
	}
	 #soEsse {
		 background:#FF0000;
	 }
<<<<<<< HEAD

</style>
=======
>>>>>>> origin/master
>>>>>>> origin/master
