<<<<<<< HEAD
<style>
=======
>>>>>>> origin/master
#tb-cardapio  {
    border: 1px solid black;
		border-collapse: collapse;
		margin: auto;
}

#tb-cardapio td, th {
	border: 1px solid black;
	padding: 10px;
}

body{
  background-color:orange;
}
	.center {
		text-align: center;

	}
	 #soEsse {
		 background:#FF0000;
	 }
<<<<<<< HEAD

</style>
=======
>>>>>>> origin/master
